<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <a href="{% url 'company_info' %}"> Company info</a><br><br> 
    <a href="{% url 'postjob' %}">Post Job</a> <br><br>
    <a href="{% url 'display_job_post' %}">Display Job post</a><br><br>
    <a href="{% url 'company_logout' %}">logout</a>   <br><br>
    <a href="{% url 'appliedCadidate' %}">Job applied details</a>   <br><br>


</body>
</html>