<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'add_profile_data' %}">Profile Add or edit</a> 
    <a href="{% url 'add_education' %}">Education  Add or edit</a>
    <a href="{% url 'display_education_added' %}">Display  Add or edit</a>
    <a href="{% url 'create_experience' %}">Add Exprience</a>
    <a href="{% url 'display_experience' %}">Display Exprience</a>
    <a href="{% url 'display_job' %}">Display Job</a>
    <a href="{% url 'companyDisplay' %}">Display Company</a>
    <a href="{% url 'company_logout' %}">logout</a>   




    

</body>
</html>